
.containerCardP {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3.4em;
    padding: 3em 0em;
    text-align: center;
}
.containerCardP .secDivOne{
    display: flex;
    flex-direction: column;
    gap: 1.8em;
    width: 90%;
    text-align: center;
}
.principal .containerCardC{
    width: 90%;
    display: flex;
    flex-direction: column;
    text-align: start;
    gap: 1.5em;
}
.containerCardP p{
    font-size: 0.7em;
    text-transform: uppercase;
    color: #00000095;
}
.containerCardP div h3{
    width: 80%;
    margin: auto;
}

.containerCardC{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.2em;
}
@media (min-width:992px) {

    .containerCardC{
    width: 90%;
    flex-direction: row !important;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.4em;
}
.secDivOne{
    align-items: start;
}
.principal .secDivOne{
    align-items: center;
}
.containerCardP div h3{
    width: 100%;
    margin: 0%;
    margin-left: auto;
}
.secDivOne{
    text-align: start;
}
.principal .containerCardP .secDivOne{
    text-align: center !important;
}
}


