.scroll{
    width: 90%;
    display: flex;
    overflow-x: scroll;
    gap: 0.8em;
    margin: auto;
    margin-right: 0%;

}
.footerBasic{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    gap: 1em;
    align-items: center;
    margin-top: 3em;
}
.footerBasic >img{
    object-fit: contain;  
    width: 70%; 
    max-width: 500px;
}
.footerBasic div{
    display: flex;
    gap: 0.5em;
}
.footerBasic  div .arrow{
    border: 1px solid rgba(11, 11, 11, 0.542);
    padding: 0.3em;
    font-size: 1.3em;
    border-radius: 8px;
    backdrop-filter: blur(4px);
}

@media (min-width:480px) {
    .footerBasic{
    width: 80%;
    }
}
@media (min-width:1024px) {
    .footerBasic{
    margin-top: 4em;

    }
    
}