.containerF{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.9em;
}
.containerPrin{
    width: 90%;
    max-width: 500px !important;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
    border-radius: 20px;
    padding: 3em 1em;
}
.particular .containerPrin{
    padding: 2em;
    background-color: transparent;
}

.containerPrin >img{
    width: 80%;
    max-width: 245px;
}
.containerPrin >p{
    font-size: 0.9;
    width: 95%;
    color: rgba(0, 0, 0, 0.85);
    line-height: 1.8em;
    max-height: 300px;
    overflow: auto;
}
.containerPrin button{
     width: 70%;
     padding: 1.2em;
     justify-content: center;
     gap: 1.5em;
}
.containerPrin button span{
    font-size: 1.5em;
}

@media (min-width:1200px) {
    .containerPrin{
    max-width: none;
    flex: 1;
    padding: 4em 2em;
    align-items: flex-start;
}
.particular .containerPrin{
    padding: 2em;
}
.containerPrin button{
   width: 240px;
}
.containerF{
    flex-direction: row;
    width: 90%;
    margin: auto;
}
}