.secFooter{
    margin: 6em 0em;
    padding: 5em 0em;
    width: 90%;
    margin: auto;
    margin-top: 18em;
}
.secFooter > section{
    background-color: rgb(29, 29, 29);
    position: relative;
    border-radius: 50px;
    padding-top: 11em;
}
.containerFloat{
    background-color: var(--white);
    width: 90%;
    border: 4px dashed rgba(52, 51, 51, 0.289);
    border-radius: 10px;
    position: absolute;
    top: -20%;
    left: 50%;
    transform: translate(-50%,-0%)
}
.containerFloat> div{
    padding: 1.6em;
}
.containerFloat > div p{
   font-size: 0.7em;
    text-transform: uppercase;
    color: #00000095;
    margin-bottom: 0.5em;
}
.containerFloat form {
    width: 90%;
    margin: auto;
    padding-bottom: 2em;
    display: flex;
    margin-top: 0.6em;
    flex-direction: column;
    gap: 1.3em;
}
.containerFloat form > div{
  display: flex;
  flex-direction: column;
  gap: 0.9em;
}
.containerFloat form > div label{
    font-size: 0.7em;
    color: rgba(26, 26, 25, 0.811);
    font-weight: 700;
}
.containerFloat form > div >div{
    border-radius: 10px;
    padding: 0.7em;
    display: flex;
    align-items: center;
    gap: 1em;
    background-color: var(--background);
    border: none;
}
.containerFloat input{
    background-color: transparent;
    padding: 0.3em;
    border: none;
}
.containerFloat form button{
    width: 80%;
    padding: 1em;
    justify-content: center;
    gap: 1.1em;
    margin: auto;
}

















.containerMain{
    color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.firstDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.3em;
    width: 90%;

}
.firstDiv > img{
    width: 130px;
    height: 130px;
}
.firstDiv > p{
    color: var(--white);
    font-size: 0.8em;
    opacity: 0.8;
}
.firstDiv nav{
    width: 100%;
    margin:2em 0em;
}
.firstDiv nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap:1em;
    align-items: center;
    justify-content: space-evenly;
}
.firstDiv ul li{
    border: 1px solid rgba(255, 255, 255, 0.437);
    padding: 0.4em;
    border-radius: 7px;
    display: flex;
    align-items: center;
    gap:0.6em;
}
.firstDiv ul li:hover{
    transform: scale(1.1);
}

.secDiv{
    width: 90%;
    margin: auto;
    margin-top: 0.7em;
    display: flex;
    flex-direction: column;
    gap: 1.8em;
}
.secDiv >div{
    display: flex;
    flex-direction: column;
    gap: 0.7em;
}
.especific {
    display: flex;
    gap: 1.1em;
}
.especific p{  
    font-size: 0.7em;
    text-transform: uppercase;
}
.secDivG{
    color: var(--green);
}
.secDiv  div> h4{
    font-size: 0.8em;
    opacity: 0.6;
}

.hr{
    width: 90%;
    color: var(--white);
    opacity: 0.7;
    margin: auto;
    margin: 3em 0em;
}












.listFooter{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    gap: 1.6em;
}
.last  ul{
    width: 45%;
    list-style-type: none;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 0.6em;
    margin: 1em 0em;
}
.last ul p{
    margin-bottom: 0.5em;
}
.last ul li{
    opacity: 0.7;
    font-size: 0.8em;
}
.footerBlog{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.footerBlog ul{
    width: 60%;
}

@media (min-width:768px) {
    .containerFloat{
    top: -12em;
}
.secFooter > section{
    padding-top: 13em;
}
}
@media(min-width:992px){
    
    .last{
        width: 98%;
        display: flex;
        gap: 0em;
    }
.listFooter{
    display: flex;
    flex: 1;
    gap: 0em;
}

.last  ul{
    width: 23%;
    gap: 0.7em;
    margin: 1em 0em;
}
.footerBlog ul{
    width: 100%;
}
}

@media (min-width:1200px){
    
.last  ul{
    text-align: start;
}
.containerFloat form {
    width: 45%;
    margin: 0%;
    padding-bottom: 0em;
    margin-top: 0;
    flex-direction: row;
    gap: 1.3em;
}
.containerFloat{
    display: flex;
    flex-direction: row;
    padding: 1em 0em;
    align-items: center;
    top: -5em;

}
.containerFloat >diV{
    width: 30%;
}
.containerFloat form button{
    margin: 0%;
    margin-top: 2.2em;
}
.secFooter > section{
    padding-top: 5em;
}


.firstDiv{
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 0em;
    width: 90%;
}

.firstDiv > img{
    width: 220px;
    height: 220px;
}
.firstDiv > p{
    max-width: 300px;
}
.firstDiv nav{
    max-width: 300px;
    margin-top:3em;
}
.secDiv{
    margin: 0em;
    margin-top: 1em;
    flex-direction: row;
}
.secDiv >div{
    width: 48%;
    gap: 0.3em;
}

}

@media (min-width:1400px){
    
.last  ul{
    text-align: start;
}
.containerFloat form {
    width: 45%;
    margin: 0%;
    padding-bottom: 0em;
    margin-top: 0;
    flex-direction: row;
    gap: 1.3em;
}
.containerFloat{
    display: flex;
    flex-direction: row;
    padding: 1em 0em;
    align-items: center;
    top: -5em;

}
.containerFloat >diV{
    width: 30%;
}
.containerFloat form button{
    margin: 0%;
    margin-top: 2.2em;
}
.secFooter > section{
    padding-top: 5em;
}
.firstDiv{
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 0em;
    width: 90%;
}
.firstDiv > img{
    width: 220px;
    height: 220px;
}
.firstDiv > p{
    max-width: 300px;
}
.firstDiv nav{
    max-width: 300px;
    margin-top:3em;
}
.secDiv{
    margin: 0em;
    margin-top: 1em;
    flex-direction: row;
}
.secDiv >div{
    width: 48%;
    gap: 0.3em;
}

}