.form{
    background-color: rgba(255, 255, 255, 0.979);
    width: 80%;
    max-width: 550px;
    padding: 1.8em 0.8em;
    border-radius: 20px;
    box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.155);
    display: flex;
    flex-direction: column;
    gap: 1.2em;
}
.form button{
    padding: 1em;
    justify-content: center;
    gap: 1.2em;
    width: 100%;
    max-width: 300px;
    margin: auto;
    margin-top: 2em;
}
.isOrange button{
    background-color: var(--orange);
}
.isBlue button{
    background-color: var(--skyBlue);
}

@media (min-width:1200px) {
    .form{
        position: absolute;
        top: -4em;
        right: 6em;
        z-index: 2;
    }
}