
.inputForm,.inputRadio, .inputOption{
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}
.inputForm label,.inputRadio label, .inputOption label{
    font-size: 0.8em;
    letter-spacing: 0.02;
    font-weight: 700;
    opacity: 0.7;
}
.inputForm div, .inputRadio div{   
     display: flex;
     justify-content: flex-start;
     align-items: center;
     padding: 0.1em 1.4em;
     gap: 0.6em;
     border:none;
     background-color: #F9F9F9;
     border-radius: 10px;
}
.inputRadio div{
    padding: 0em;
    justify-content: space-evenly;
    align-items: flex-start;
    background-color: transparent;
}
.inputForm div input{
    flex: 1;
    border: none;
    background-color: transparent;
    padding: 1em;
}
.inputForm div  p{
    color: #00000063;
}
.radioItem {
  display: flex;
  align-items: center;
  gap: 0.5em;
  cursor: pointer;
}
.inputRadio input[type="radio"] {
  appearance: none;
  -webkit-appearance: none;
  width: 14px;
  height: 14px;
  margin-right: 0.4em;
  margin-top: -0.5em;
  border: 2px solid #0e0f0f3d;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
  transition: all 0.2s ease;
}
.inputRadio input[type="radio"]::before {
  content: "";
  width: 8px;
  height: 8px;
  background-color: var(--green);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: transform 0.2s ease;
}
.inputRadio input[type="radio"]:checked::before {
  transform: translate(-50%, -50%) scale(1);
}
.inputOption select{
    border: none;
    background-color: #eae9e9;
    padding: 1em 2em;
}
