.containerForm{
    height: 40vh;
    min-height: 400px;
    background-position:center;
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
    z-index: 1;
}
.containerForm .containerChildren{
    background-color: rgba(255, 255, 255, 0.152);
    backdrop-filter: blur(8px);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.truck {
    position: relative;
}


@media (min-width:568px) {
    .containerForm{
    height: 60vh;
    min-height: 600px;
    max-height: 700px;
}
    .containerForm{
    width: 100%;
    background-size: cover;
}
}
@media (min-width:1200px){
    .truck::after{
        content: '';
        position: absolute;
        top: -5em;
        left: 0em;
        width: 9em;
        height: 9em;
        background-image: url('../assets/images/truck.svg');
        background-size: contain;
        background-repeat: no-repeat;
    }
}