.video{
    padding: 6em 0em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2em;
}
.containerPrincipal{
    width: 90%;
    text-align: center;
    margin: auto;
}
.containerPrincipal p{
    margin-bottom: 0.6em;
    font-size: 0.7em;
    text-transform: uppercase;
    color: #00000095;
}

.swi {
  width: 90%;
  height: 50vh;
  max-height: 300px;
  position: relative;
  overflow: visible !important; 
  display: flex;
  justify-content: center;
  border-radius: 20px;
}

.swiSlide {
  display: flex;
  justify-content: center;  
  align-items: center;
}

.swiSlide iframe {
  width: 100%;
  height: 100%;
  box-shadow: inset 0px  4px 10px rgba(0, 0, 0, 0.158);
}
@media (min-width: 567px) {
 .swi {
  width: 70%;
  height: 60vh;
  max-height: 400px;
}
}

@media(min-width:992px){
     .swi {
    width: 60%;
    max-height: 480px;
    }
}
