*{
  padding: 0;
  margin: 0;
}
:root{
  --green: #1CAB00;
  --orange:#CE8300;
  --pastelOrange:#FFF6E6;
  --blue:#00A1C5;
  --darkBlue:#006EFF;
  --skyBlue:#00C7F4;
  --white:#FFFFFF;
  --black:#000000;
  --background: #F9F9F9;
  --yellow:#FFD902;
}

body, html{
  width: 100%;
  height: 100%;
}
body{
  background-color: var(--background);
}